Package           Version
----------------- -------
annotated-types   0.8.0
Faker             40.39.0
pip               25.1.1
psycopg2-binary   2.9.13
pydantic          2.13.5
pydantic_core     2.46.5
python-dotenv     1.2.3
typing_extensions 4.16.0
typing-inspection 0.4.4
